---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/site/SiteHeader.astro';
import SiteFooter from '../components/site/SiteFooter.astro';
import WhatsAppFab from '../components/site/WhatsAppFab.astro';
import Hero from '../components/sections/Hero.astro';
import Specialties from '../components/sections/Specialties.astro';
import Memberships from '../components/sections/Memberships.astro';
import Clinic from '../components/sections/Clinic.astro';
import Faq from '../components/sections/Faq.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout>
  <SiteHeader />
  <main>
    <Hero />
    <Specialties />
    <Memberships />
    <Clinic />
    <Faq />
    <Contact />
  </main>
  <SiteFooter />
  <WhatsAppFab />
</Layout>
